*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1B1C1E;
}
.game-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    justify-content: space-between;
    font-family: cursive;
    width: 100%;
}
.game-board h1{
    color: #6F7BDB;
    font-size: 3.1em;
    margin-bottom: 20px;
}

/* MODE SELECTION PAGE */
.logo{
    background-image: url(../src/images/tic-tac-toe-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
}
.mode-selection{
    padding: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.mode-selection button{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid #1B1C1E;
    background-color: #6F7BDB;
    cursor: pointer;
    color: #1B1C1E;
}
.mode-selection button:hover{
    transform: translateY(-5px);
}

/* GAME GRID */
.grid-container{
    height: auto;
    width: auto;
    margin: 15px auto;
    position: relative;
    transition: all 5s ease;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 2px solid #6F7BDB;
    width: 100%;
    height: 100%;
}
.cell{
    background-color: #292A2C;
    border: 2px solid #6F7BDB;
    height: 80px;
    width: 80px;
    color: #A372B6;
    text-align: center;
    font-size: 3.1em;
    cursor: pointer;
    box-shadow: 0, 0, 0, 2px;
    line-height: 80px;
}
.cell.winning-cell{
    color: #58ADC5;
}
.winning-line {
    position: absolute;
    background-color: #58ADC5;
    z-index: 10; /* Ensure it's on top of cells */
}

/* Specific styles for the winning line based on its type */
.winning-line.horizontal {
    width: 100%; /* Spans full width of the grid */
    height: 5px; /* Thickness of the line */
}

.winning-line.vertical {
    width: 5px; /* Thickness */
    height: 100%; /* Spans full height of the grid */
}

.winning-line.diagonal-1, /* 0, 4, 8 */
.winning-line.diagonal-2 { /* 2, 4, 6 */
    height: 5px; /* Thickness */
}
.message{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
    color: #6F7BDB;
    margin-bottom: 40px;
}
.game-board h2{
    color: #6F7BDB;
    font-size: 1.5em;
}
.controls{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.control{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid #1B1C1E;
    background-color: #6F7BDB;
    cursor: pointer;
    color: #1B1C1E;
}
.restart:hover, .undo:hover{
    transform: translateY(-2px);
}
.control.disabled{
    opacity: 0.4;
}
